.App {
  text-align: center;
  padding: 0px;
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#container {
  flex: 1;
  display: flex;
}

.box{
  flex: 1;
  justify-content: center;
}

#extended {
  flex: 1;

}