.App {
  padding: 0px;
  width:70%;
  margin: auto;
  margin-top: 40px;
}

#header {
  background-color: #3f3f3f;
  color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 300px;
}

#top {
  display: flex;
}

#content {
  margin-bottom: 40px;
}

#icon-big {
  width: 150px;
  height: 150px; 
  flex: 1;
}

#header #text{
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: center;
}

#header #text .item{
  padding: 10px;
  margin: 10px;
  flex: 1;
  align-self: center;
  text-align: center;
}

/* Media Queries */
@media(max-width: 793px){
.App{
  font-size: 11px;
}

#icon-big {
  display: none;
}
}