.box {
    flex: 1;
    display: flex;
    background-color: rgb(230, 230, 230);
    max-height: 80px;
    font-weight: bold;
}

.part {
    flex: 1;
    text-align: center;
    align-self: center;
}
